html{
  background-color: #ECECEC;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1, p{
  margin: 0;
}
li{
  padding-bottom: 20px;
}
.clearfix{  clear: both;}
.container{
  max-width: 80%;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.foto{
  position: relative;
  height: 100px;
}
.nombre{
  width: 100%;
  border: 1px solid #e8e8e8;
}
.nombre img{
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 3px solid #4a179f;
}
.nombre h1{
  padding: 20px;
}
.content-left{
  width: 65%;
  float: left;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}
.content-right{
  width: 35%;
  float: left;
  text-align: left;
}
.section{
  padding: 15px;
}
.section h2{
  color: #4a179f;
  text-transform: uppercase;
}
.section h2::before{
  content: '- ';
}
.skill{
  background-color: #4a179f;
  color:#fff;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
}
.html{
  width: 90%;
}
.css{
  width: 80%;
}
.angularjs{
  width: 75%;
}
.javascript{
  width: 60%;
}
.jquery{
  width: 60%;
}
.pelotas{
  float: right;
}
.circle-green{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #4a179f;
  margin-right: 5px;
  display: inline-block;
}
.circle-white{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #4a179f;
  background-color: #fff;
  margin-right: 5px;
  display: inline-block;
  box-sizing: border-box;
}
.circle-white:last-child,
.circle-green:last-child{
  margin-right: 15px;
}
.hobbie{
  background-color: #4a179f;
  border-radius: 3px;
  color:#fff;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.final{
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: right;
}

.experience {
  background: #CCC3DD;
  color: #000;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  position: relative;

}

.experience:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

.experience:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #CCC3DD 10px;
  content: " ";
  height: 0;
  margin-left: -13px;
  width: 0;
  position: absolute;
  top:-10px;
  left:60px;
}

@media (min-width:966px) and (max-width: 1200px) {
  .content-left{
    width: 55%;
    float: left;
    text-align: left;
  }
  .content-right{
    width: 45%;
    float: left;
    text-align: left;
  }
}
@media (max-width:966px) {
  .content-left{
    width: 100%;
    float: left;
    text-align: left;
  }
  .content-right{
    width: 100%;
    float: left;
    text-align: left;
  }
}
